
/*
    Sticky Navbar
*/


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.content {
  padding: 10px;
}

.sticky + .content {
  padding-top: 120px;
}


/*
Table
*/

thead{
  color:#10708E;
  font-size: 12px;
  border: none !important;
  
}

table tbody tr td{
  /*color: #09667D;*/
  font-size: 12px;
  vertical-align: middle !important;
  padding-top: 3px!important;
  padding-bottom: 3px!important;
  }

.form-group{
  margin-bottom: 0.8rem;
}

/*
    Navbar color
*/

header .navbar{
 background: linear-gradient(to right, #076445 0%, #f5f8f8 100%); 
 /* -webkit-box-shadow: 0 5px 80px -10px rgba(0, 0, 0, 0.5); */
 /* box-shadow: 0 5px 80px -10px rgba(91, 218, 207, 0.815);*/
}
header .navbar-brand{
  color:#ffffff !important;
  font-size: 22px;
  font-weight: bolder;
  letter-spacing: 2px;  
  }
header .nav-link {
  font-size: 16px;
  color:#17756a !important;
}
header .nav-link:hover{
  border-bottom: solid !important; 
  border-color: #17756a !important;
}
header .navbar-nav{
  margin-left: auto;
}

.nav-tabs{
  border-width: thin;
  border-color:#8a98a5;
}


.nav-tabs .nav-link.active{
  border-color: #b7c1cc #b2bccc transparent;
  font-weight: bold;
  
}

.nav-link:hover{
  background-color: #e8ebf1;
 
}

header .user{
  color: rgb(26, 127, 153);
  font-size: 12px;
}

header .signout{
  color: grey;
  font-size: 12px;
}

.page-title-section, .page-data-section{
  margin-top: 20px;
}

.page-data-section .tip{
  margin-top: 40px !important;
  font-size: small;
  color:#4a505f !important;
  
}

.hidden{
  display: none;
}

.hand:hover{
  cursor: hand;
}

.hyper{
    text-decoration: none;
    text-decoration-color: #59B1EC;
    color: #59B1EC;
}
.hyper:hover{
    text-decoration: underline;
    text-decoration-color: #2874A6;
    color: darkblue;
    cursor: hand;
}

.round{
    border-radius: 20px;
}

.rounded-circle:hover{
    background-color: #EBEDEF;
    cursor: pointer;
}

/*
*   Colors
*/


tbody{
  color: #09667D;
}
label{
  
  font-size: 0.9rem !important;
  color:#6A7489 !important;
  font-weight: bold;
}

input, textarea{
  border-color: #D7DCE7 !important;
  color: #577464!important;
  
  
}
select{
  border-color: #D7DCE7 !important;
  color: #577464 !important;
  padding-top:10px 10px !important;

}
input:focus, select:focus, textarea:focus {

  outline-style: none !important;
  border-color: darkblue !important;
  box-shadow:none !important;
}

/*
* bread crumb
*/
.breadcrumb{
  background: transparent;
  font-size:0.8rem !important;
}
.breadcrumb li a{
  color:blue;
}
/*
* icons
*/
.icon-r {
      position: absolute;
      right: -8px;
      top:5px;
      font-size: 1.0rem;
      color:#607D8B;  
    }
.icon-r-in{
      position: absolute;
      right: 40px;
      top:5px;
      font-size: 1.0rem;
      color:#607D8B;  
}

.icon-l {
      position: absolute;
      left:25px;
      top:10px;
      font-size: 16px; 
      color:#607D8B; 
    }

.icon-xl{
      font-size: 20px !important;
    }
.icon-lg{
      font-size: 20px !important;
    }
.icon-md{
      font-size: 15px !important;
    }

/*
*   CSS for text
*
*/

.micro{
  font-size: 12px !important;
}

.strong{
  font-weight: bold;
}
.grey{
  color: grey;
}
.teal{
  color: #10708E;
}
.red{
  color:red;
}

.light-brown{
  color:#FAD7A0 
}

.brown{
  color:#E66414;
}

.green{
  color: darkgreen;
}
.blue{
  color:blue;
}
.pink{
  color: pink;
}
.micro{
  font-size: xx-small !important;
}
.txt-l{
    font-weight: normal;
    font-size: 1.2rem;
}
.txt-lb{
    font-weight: bold;
    font-size: 1.2rem;
}
.txt-m{
    font-weight: normal;
    font-size: 1.0rem;
}
.txt-mb{
    font-weight: bold;
    font-size: 1.0rem;
}
.txt-s{
    font-weight: normal;
    font-size: 0.8rem;
}
.txt-sb{
    font-weight: bold;
    font-size: 0.8rem;
}

.my-bg-success{
  background-color: #D4EFDF !important;
}

.my-bg-danger{
  background-color: peachpuff !important;
}

.my-bg-info{
  background-color: #AED6F1 !important;
}
.my-bg-warning{
  background-color: #FEF9E7 !important;
}


